---
import MainLayout from '../layouts/MainLayout.astro';
import NavBarDesktop from '../components/NavBarDesktop.astro';
import NavBarMobil from '../components/NavBarMobil.astro';
---

<MainLayout>
  <NavBarDesktop />
	<main class="min-h-dvh">
		<h1 class="text-amber-400">Astro</h1>
	</main>

  <NavBarMobil />

</MainLayout>
